* {
  box-sizing: border-box;
}
:root {
  --header-height: 30px;
  --footer-height: 30px;
}
body {
  overflow-x: hidden;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #357dad;
  color: #082e47;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.button {
  display: inline-block; /* Allows padding and margin, behaves like a button */
  padding: 5px 10px;
  margin: 5px;
  background-color: #0e507a; /* Button color */
  color: #357dad; /* Text color */
  text-decoration: none; /* Removes default link underline */
  border: 1px solid #306191;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to a hand icon */
  text-align: center;
}

.button:hover {
  background-color: #082e47; /* Hover effect */
  color: #357dad; /* Text color */
}
.wrapper {
  margin: 15px;
  min-height: 100vh;
}

.header,
.nav,
.footer {
  width: 100%;
  display: flex;
  justify-content: center; /* Centers content horizontally */
}

.content {
  flex: 1; /* Takes remaining vertical space */
  width: 100%;
  max-width: 800px; /* Limits width for content */
  display: flex;
  flex-direction: column;
  align-items: center;
}
