
* {
    box-sizing: border-box;
}
:root {
    --header-height: 30px;
    --footer-height: 30px;
}

body { 
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  background-color: #fff2d3;
}

.wrapper {
  display: flex;
  overflow: hidden;
  height: 100vh;

  margin-top: -75px;
  padding-top: 75px;

  margin-bottom: -75px;
  padding-bottom: 75px;

  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;


}



.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  height: 75px;

  border: 4px ridge #aa7338;
  background-color: #fff2d3;
  padding: 5px;

}



/* ----------------- */
/* ----------------- */
/* ----------------- */


.stats,
.content,
.log {
  overflow: auto;
  height: auto;
  padding: .5rem;
  
  /* Styling to match reference */

}

.content {
  flex:1;
}

.stats,
.log {
  width: 300px;
    border-left: 4px ridge #aa7338;
  border-right: 4px ridge #aa7338;
}





button {
    background-color: #aa7338;
    color: #fff2d3;
    font-size: 18px;
    padding: 8px;
}
